@model NationalUnion.Models.DTOs.CreateDriverRequestModel
@{
    ViewData["Tittle"] = "Driver Register";
    Layout = null;
}
<style>
    div {
        padding: auto;
        margin: 4%;
        scroll-behavior: unset;
        text-align: center;
    }

    .form {
        width: 300px;
        height: 30px;
        border: solid lightgreen;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;



    }

    .head-font {
        text-align: center;
        color: green;
        text-decoration-style: bold;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
        height: 45px;

    }

    body {
        background-image: url('/yellowBus/buspic.jpg');
        padding: 5%;
        margin: 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

    .subm {
        width: 115px;
        height: 29px;
        color: green;
        border-color: lightgreen;
        border-radius: 44%;
        box-shadow: 1px 2px 3px 4px rgba(62, 58, 58, 0.599);
    }
</style>

<body>
    <section>
        <h5 class="head-font"> DRIVERER REGISTRATION</h5>


        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div>
                <input class="form" required type="text" name="FirstName" placeholder="First Name">
            </div>
            <div>
                <input class="form" type="text" name="LastName" placeholder="Surname">
            </div>
            <div>
                <input class="form" type="email" name="Email" placeholder="Email adress">
            </div>
            <div>
                <input class="form" type="password" name="Password" placeholder="Password">
            </div>
            <div>
                <input class="form" type="text" name="PhoneNumber" placeholder="Phone Number">
            </div>
            <div>
                <input class="form" type="text" name="Address" placeholder="Address">
            </div>

            <div>
                <input class="subm" type="submit" value="Register"></input>
                @ViewBag.Message
            </div>
        </form>

    </section>
    <script src="~/js/allart.js"></script>
</body>