@model NationalUnion.Models.DTOs.UserDTO
@{
    ViewData["Tittle"] = "Wallet Funding";
    Layout = null;
}
<style>
    div {
        padding: auto;
        margin: 4%;
    @*gap:6px;*@@*gap:3px;*@scroll-behavior: unset;
        text-align: center;



    }

    .head-font {
        text-align: center;
        color: red;
        text-decoration-style: bolder;
        font-size: larger;
        font-family: 'Poppins', sans-serif;
        padding: 3%;

    }

    .form {
        width: 300px;
        height: 30px;
        border: solid red;
        border-radius: 0%;
        box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
        padding-right: %;

    }

    body {
        background-image: url('/yellowBus/banfo animation2.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .btn {
        width: 115px;
        height: 29px;
        color: red;
        border-color: red;
        box-shadow: 1px 2px 3px 4px rgba(62, 58, 58, 0.599);
    }

    .nav-item {
        width: 12%;
        align: left;
    }
</style>


<body>
    <h5 class="head-font">Fund Wallet</h5>



    <form asp-action="FundWallet" method="post" enctype="multipart/form-data">
        <div>
            <input class="form" required type="text" name="price" placeholder="Amount to be added">
        </div>

        <div class="form-group ">
            <input href="#myModal" type="submit" value="Fund" class="btn btn-success trigger-btn col-sm-12"
                data-toggle="modal" />
        </div>
    </form>
    <div>
        <span class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="DriverBoard"><button
                    style="color: red"> Back
                </button></a>
        </span>

    </div>

    @if (TempData["invalid"] != null)
    {
        <script>
            window.onload = function () {

                alert("@TempData["Invalid"]")
            }
        </script>
    }

</body>
