@{
    ViewData["Title"] = "Home Page";
}
<style>
    .mad{
      
        background-size: contain;
        font-family: sans-serif;
        
    }
    .document{
        background-color: red;
    }
</style>

<div class="text-center">
    <h1>
        <marquee direction="right" style="text-size: 23px ;">
            <font class="mad" color="white"> Welcome To NURTW</font>
        </marquee>
    </h1>
</div>
