@{
    ViewData["Title"] = "Our Services";

}
<h1 class="hK">@ViewData["Title"]</h1>
<style>
    body {
        @* background-color: blue; *@
    }
    title {
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        text-decoration: underline;
    }

    h4 {
        text-align: left;
    }

    .firstP {
        color: red;
        font-size: medium;
        font-family: sans-serif;
    }

    .h2 {
        color: green;
        @* background-image: url('/yellowBus/logo3.jpg'); *@
    }

    h1 {

        text-align: center;
        color: green;
        font-family: sans-serif;
        font-weight: bolder;
        text-decoration: wavy;
    }
    ol{
        text-decoration: red;

    }
</style>

<body>



    <marquee behavior="fixed" direction=" left">
        <h2 class="h2">Welcome To Nurtw</h2>
    </marquee>

    <p class="firstP">we proposed this platform to give lasting solution to the issues of harassment on our customers
        and distinguish
        staffs </p>
    <ul>
        <ol class="text">
            <h4>
                Some Of Our Solutions Includes
            </h4>
            <li>
                Flexibility
            </li>
            <li>
                Accountabilty
            </li>
            <li>
                Reliabilty
            </li>
        </ol>
    </ul>
    <p style="font-size: medium;">The real approach is to make sure a driver is been maintained and treated with more user friendly features of the existing platform. Because the drivers are the main aset to the system</p>
</body>

